@model IEnumerable<SachOnline.Models.Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style type="text/css">
    .imgbook {
        transition: all 1s ease-in;
        width: 350px;
    }

        .imgbook:hover {
            transform: scale(O.9);
            cursor: pointer;
        }

    .imgsachbannhieu {
        width: 100px;
    }
    .navbar {
        overflow: hidden;
        background-color: #333;
    }

        .navbar a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    .dropdown {
        float: left;
        overflow: hidden;
    }

        .dropdown .dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .navbar a:hover, .dropdown:hover .dropbtn {
            background-color: red;
        }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {
                background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
            display:block;
        }

</style>

<h2 class="text-center">SÁCH MỚI</h2>
<hr>
<div class="row text-center">
    @foreach (var Book in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbanil">
                <img src="~/Images/@Book.AnhBia" alt="Thumbnail Image 1"
                     class="img-responsive img-rounded imgbook" style="width:400px;" />
                <div class="caption">
                    <h4 style="min-height:70px;">
                        <a href="@Url.Action("BoolDetail","SachOnline",new {id =Book.BookID})">
                            @Book.NameBook
                        </a>
                    </h4>

                    <p>
                    <p class="giaban" style="padding-left:49px;">Giá Bán: <span style="color:cornflowerblue;">@Html.FormatValue(Book.GiaBan, "{0:#,##0}") VNĐ</span></p>
                    <a href="@Url.Action("ThemGioHang","GioHang" ,new {ms = Book.BookID, url = Request.Url.ToString()})" class="btn btn-primary" role="button">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
                        </span> Add to cart
                    </a>
                    </p>
                </div>
            </div>
        </div>
    }
    @*<div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src="~/Images/130499.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook ">
                <div class="caption">
                    <h3>Sản phẩm</h3>
                    <p>Mô tả tóm tắt sản phẩm</p>
                    <p><a href="#" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src="~/Images/130318.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">
                <div class="caption">
                    <h3>Sản phẩm </h3>
                    <p>Mô tả tóm tắt sản phẩm</p>
                    <p><a href="#" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
                </div>
            </div>
        </div>*@
    @*<div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 hidden-xs">
            <div class="thumbnail">
                <img src="~/Images/KT0001.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">
                <div class="caption">
                    <h3>Sản phẩm </h3>
                    <p>Mô tả tóm tắt sản phẩm</p>
                    <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src="~/Images/KT0003.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">
                <div class="caption">
                    <h3>Sản phẩm </h3>
                    <p>Mô tả tóm tắt sản phẩm</p>
                    <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src="~/Images/KT0005.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">
                <div class="caption">
                    <h3>Sản phẩm </h3>
                    <p>Mô tả tóm tắt sản phẩm</p>
                    <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 hidden-xs">
            <div class="thumbnail">
                <img src="~/Images/KT0007.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">
                <div class="caption">
                    <h3>Sản phẩm </h3>
                    <p>Mô tả tóm tắt sản phẩm</p>
                    <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
                </div>
            </div>
        </div>*@
</div>

<nav class="text-center">
    <!-- Add class .pagination-lg for larger blocks or .pagination-sm for smaller blocks-->
    <ul class="pagination">
        <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li class="disabled"><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
